<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codestepfish.admin.mapper.AdminMapper">
    <select id="getAdminByAccount" resultType="com.codestepfish.admin.entity.Admin">
        select a.*,
               t.id          tenant_id,
               t.code        tenant_code,
               t.tenant_name tenant_name
        from admin a
                 left join tenant t on a.tenant_id = t.id
        where a.account = #{account}
          and a.password = #{password}
          and t.code = #{tenant_code}
    </select>

    <select id="listAdmins" resultType="com.codestepfish.admin.entity.Admin">
        select a.*,
               t.id          tenant_id,
               t.tenant_name tenant_name,
               r.role_name   role_name
        from admin a
                 left join tenant t on a.tenant_id = t.id
                 left join role r on a.role_id = r.id
        where a.del_flag = 0
        <if test="account != null and account != ''">
            and a.account = #{account}
        </if>
        <if test="phone != null and phone != ''">
            and a.phone = #{phone}
        </if>
        <if test="tenant_code != null and tenant_code != ''">
            and t.code = #{tenant_code}
        </if>
        order by a.create_time asc
    </select>
</mapper>