<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codestepfish.admin.mapper.AdminMapper">
    <select id="getAdminByAccount" resultType="com.codestepfish.admin.entity.Admin">
        select a.*,
        m.id merchant_id,
        m.code merchant_code,
        m.merchant_name merchant_name
        from admin a
        left join merchant m on a.merchant_id = m.id
        where a.account = #{account}
        and a.password = #{password}
        and m.code = #{merchant_code}
    </select>

    <select id="listAdmins" resultType="com.codestepfish.admin.entity.Admin">
        select a.*,
        m.id merchant_id,
        m.merchant_name merchant_name,
        r.role_name role_name
        from admin a
        left join merchant m on a.merchant_id = m.id
        left join role r on a.role_id = r.id
        where a.del_flag = 0
        <if test="account != null and account != ''">
            and a.account = #{account}
        </if>
        <if test="phone != null and phone != ''">
            and a.phone = #{phone}
        </if>
        <if test="merchant_code != null and merchant_code != ''">
            and m.code = #{merchant_code}
        </if>
        order by a.create_time asc
    </select>
</mapper>