<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codestepfish.admin.mapper.LovCategoryMapper">
    <select id="listCategory" resultType="com.codestepfish.admin.entity.LovCategory">
        select lc.*, m.merchant_name merchant_name
        from lov_category lc
                 left join merchant m on lc.merchant_id = m.id
        <where>
            <if test="merchant_id != null">
                and lc.merchant_id = #{merchant_id}
            </if>
            <if test="category != null and category != ''">
                and lc.category = #{category}
            </if>
        </where>
    </select>
</mapper>