<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codestepfish.admin.mapper.MenuMapper">
    <select id="listMenu" resultType="com.codestepfish.admin.entity.Menu">
        select m.id                                                           id,
               m.pid                                                          pid,
               m.pids                                                         pids,
               m.title                                                        title,
               m.path                                                         path,
               m.icon                                                         icon,
               m.key                                                          `key`,
               m.permission                                                   `permission`,
               m.type                                                         `type`,
               m.sort                                                         `sort`,
               m.remark                                                       remark,
               (if(exists(select * from menu c where c.pid = m.id), 1, 0)) as has_children
        from menu m
        where m.pid = 0
          and m.type = 0
        order by m.sort asc
    </select>

    <select id="subMenu" resultType="com.codestepfish.admin.entity.Menu">
        select m.id                                                           id,
               m.pid                                                          pid,
               m.pids                                                         pids,
               m.title                                                        title,
               m.path                                                         path,
               m.icon                                                         icon,
               m.key                                                          `key`,
               m.permission                                                   `permission`,
               m.type                                                         `type`,
               m.sort                                                         `sort`,
               m.remark                                                       remark,
               (if(exists(select * from menu c where c.pid = m.id), 1, 0)) as has_children
        from menu m
        where m.pid = #{pid}
        order by m.sort asc
    </select>
</mapper>