<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codestepfish.admin.mapper.MerchantMapper">
    <select id="listMerchant" resultType="com.codestepfish.admin.entity.Merchant">
        select m.*,
               if(exists(select * from merchant c where c.pid = m.id), 1, 0) as has_children
        from merchant m
        <where>
            <if test="param.pid != null">
                and m.pid = #{param.pid}
            </if>
            <if test="param.code != null and param.code != ''">
                and m.code = #{param.code}
            </if>
            <if test="param.merchantName != null  and param.merchantName != ''">
                and m.merchant_name = #{param.merchantName}
            </if>
        </where>
        order by m.create_time asc
    </select>

    <select id="listMerchantTree" resultType="com.codestepfish.admin.entity.Merchant">
        select m.*,
               if(exists(select * from merchant c where c.pid = m.id), 1, 0) as has_children
        from merchant m
        <where>
            <if test="merchant_id != null">
                and m.id = #{merchant_id}
            </if>
            <if test="merchant_id == null">
                and m.pid = 0
            </if>
        </where>
        order by m.create_time asc
    </select>
</mapper>