<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codestepfish.admin.mapper.RegionMapper">
    <select id="listRegionLazy" resultType="com.codestepfish.admin.dto.region.RegionVo">
        select r.id                                                     id,
               r.pid                                                    pid,
               r.name                                                   name,
               r.code                                                   code,
               r.zip_code                                               zip_code,
               r.sort                                                   `sort`,
               r.type                                                   `type`,
               exists(select * from region sub where sub.pid = r.id) as has_children
        from region r
        where r.pid = #{pid}
        order by r.sort asc
    </select>
</mapper>