<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codestepfish.datasource.mapper.MenuMapper">
    <select id="listMenu" resultType="com.codestepfish.datasource.entity.Menu">
        select m.id                                                                                     id,
               m.pid                                                                                    pid,
               m.title                                                                                  title,
               m.path                                                                                   path,
               m.icon                                                                                   icon,
               m.key                                                                                    `key`,
               m.action                                                                                 `action`,
               m.type                                                                                   `type`,
               m.sort                                                                                   `sort`,
               m.remark                                                                                 remark,
               m.create_time                                                                            create_time,
               m.update_time                                                                            update_time,
               m.delete_time                                                                            delete_time,
               (if(exists(select * from menu c where c.pid = m.id and c.delete_time is null), 1, 0)) as has_children
        from menu m
        where m.pid = 0
          and m.type = 0
          and m.delete_time is null
        order by m.sort asc
    </select>

    <select id="subMenu" resultType="com.codestepfish.datasource.entity.Menu">
        select m.id id,
        m.pid pid,
        m.title title,
        m.path path,
        m.icon icon,
        m.key `key`,
        m.action `action`,
        m.type `type`,
        m.sort `sort`,
        m.remark remark,
        m.create_time create_time,
        m.update_time update_time,
        m.delete_time delete_time,
        (if(exists(select * from menu c where c.pid = m.id and c.delete_time is null), 1, 0)) as has_children
        from menu m
        where m.pid = #{pid}
        and m.delete_time is null
        order by m.sort asc
    </select>
</mapper>