<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codestepfish.datasource.mapper.OpenConfigMapper">
    <select id="listConfigs" resultType="com.codestepfish.datasource.model.OpenConfigVo">
        select op.id          id,
               op.tenant_id   tenant_id,
               t.tenant_name  tenant_name,
               op.name        name,
               op.type        type,
               op.config      config,
               op.create_time create_time,
               op.update_time update_time,
               op.delete_time delete_time
        from open_config op
                 left join tenant t on t.id = op.tenant_id
        where op.delete_time is null
          and t.delete_time is null
        <if test="tenant_id != null">
            and op.tenant_id = #{tenant_id}
        </if>
        <if test="name != null and name != ''">
            and op.name = #{name}
        </if>
        order by op.create_time asc
    </select>
</mapper>